* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
	border-radius: 10px;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	color: #fff;
	padding: 10px;
	font-size: 25px;
}

.header-item{
	display: flex;
	justify-content: space-around;
	width: 55%;
}

.header-item div:not(.selected-item) {
    opacity: 0.6;
}

.notification-dot {
  position: absolute;
  top: 7px;
  right: 200px;
  width: 8px;
  height: 8px;
  background-color: #ed4956; 
  border-radius: 50%;
  }

.underline {
    text-decoration: underline;
    text-underline-offset: 8px; 
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
	text-align: center;
	height: 8%;
}

.text{
	font-size: 10px;
}

.footer-icon{
	font-size: 25px;
	width: calc(100% / 5);	
	position: relative;
}

.mex-num {
  width: 25px;                
  height: 20px;               
  background-color: #ed4956; 
  border-radius: 35%;         
  display: flex;              
  align-items: center;        
  justify-content: center;
  transform: translate(100%, -30%);
  font-size: 15px;
  position: absolute;
  right: 50%;
  bottom: 50%;
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #ffffff;
	text-align: center;
}

.logo {
	width: 50px;
	border-radius: 50%;
	border: 2px solid white;
}

.add-dot {
  width: 20px;                
  height: 20px;               
  background-color: #ed4956; 
  border-radius: 50%;         
  display: flex;              
  align-items: center;        
  justify-content: center;
  transform: translate(75%, -81%);
  font-size: 20px;
}

.sidebar-icon{
	font-size: 35px;
	margin-bottom: 15px;

}

.number {
	font-size: 15px;
}

.bi-heart-fill:hover {
  color: red;
}

.description {
	width: 70%;
	position: absolute;
	bottom: 10%;
	left: 15px;
	color: #fff;
	font-size: 15px;

}

.description-title {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 6px;
}

.hidden-checkbox {
  display: none;
}

.more-text {
  display: none;
}

.read-more-button::after {
  content: "Vedi altro";
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.hidden-checkbox:checked + .caption .more-text {
  display: inline;
}